{% extends 'base.html' %}
{% block title %} Account {% endblock %}
{% block content %}
<div class="container text-center w-75">
    <h1 class="">Account</h1>
    <div class="mb-3    align-content-center ">
        <img src="{{url_for('static', filename='images/profile_pictures/' + current_user.profile_picture)}}" class="mx-auto" alt="profile picture" width="200" height="200">
    </div>
    <form method="post" enctype="multipart/form-data">
        {{form.hidden_tag()}}
        <div class="input-group has-validation mb-3">
          <div class="form-floating">
              {{ form.first_name(class="form-control" + (" is-invalid" if form.first_name.errors else "")) }}
              {{ form.first_name.label() }}
          </div>
        </div>
        <div class="input-group has-validation mb-3">
          <div class="form-floating">
              {{ form.last_name(class="form-control" + (" is-invalid" if form.last_name.errors else "")) }}
              {{ form.last_name.label() }}
          </div>
        </div>
        <div class="mb-3">
          {{form.profile_picture.label()}}
            {{form.profile_picture(class="form-control form-control-md")}}
        </div>
        <div class="mb-3">
            <div class="input-group has-validation">
                <div class="form-floating">
                {{ form.username(class="form-control" + (" is-invalid" if form.username.errors else "")) }}
                {{ form.username.label() }}
                {% if form.username.errors %}
                <div class="invalid-feedback" >
                {{ form.username.errors[0] }}
                </div>
                {% endif %}
                </div>
                
            </div>
        </div>
        <div class="mb-3">
            <div class="input-group has-validation">
              <div class="form-floating">
                {{ form.email(class="form-control" + (" is-invalid" if form.email.errors else "")) }}
                {{ form.email.label() }}
                {% if form.email.errors %}
              <div class="invalid-feedback">
                {{ form.email.errors[0] }}
              </div>
              {% endif %}
              </div>
            </div>
          </div>
          <div class="mb-3">
            {{ form.submit(class="btn btn-dark") }}
          </div>
    </form>
    <hr>
    <div class="mb-3">
        <a href="{{url_for('auth.change_password')}}" class="btn btn-outline-dark">Change Password</a>
    </div>
</div>

{% endblock %}