{% extends 'base.html' %}
{% block title %}
    Forgot Password
{% endblock %}
{% block content %}
    <div class="d-flex flex-column m-auto align-content-center min-vh-100 w-75 text-center">
        <h1 class="display-5">Forgot Password</h1>
        <br>
        <p class="lead">Enter your email address and we'll send you a link to reset your password.</p>
        <br><br>
        <form method="post">
            {{ form.hidden_tag() }}
            <div class="input-group has-validation mb-3">
                <div class="form-floating">
                    {{ form.email(placeholder='Email',class="form-control" + (" is-invalid" if form.email.errors else ""))}}
                    {{ form.email.label() }}
                    {% if form.email.errors %}
                    <div class="invalid-feedback">
                        {{ form.email.errors[0] }}
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="mb-3">
                {{ form.submit(class="btn btn-dark")}}
            </div>
        </form>
    </div>
{% endblock %}