{% extends 'base.html' %}
{% block title %} Reset Password {% endblock %}
{% block content %}

    <div class="min-vh-100  w-75  container m-auto text-center ">
        <h1 class="display-5 my-3"> Change Password</h1>
        <form method="post">
            {{ form.hidden_tag() }}
                <div class="input-group has-validation mb-3">
                    <div class="form-floating">
                        {{form.new_password( placeholder='New Password',class="form-control " + ("is-invalid" if form.new_password.errors else ""))}}
                        {{form.new_password.label() }}
                        {% if form.new_password.errors %}
                        <div class="invalid-feedback">
                            {{ form.new_password.errors[0] }}
                        </div>                    
                        {% endif %}
                    </div>
                </div>

                <div class="input-group has-validation mb-3">
                    <div class="form-floating">
                        {{form.new_password_confirm( placeholder='Confirm Password',class="form-control " + ("is-invalid" if form.new_password.errors else ""))}}
                        {{form.new_password_confirm.label() }}
                    </div>
                </div>
                <div class="mb-3">
                    {{form.submit(class="btn btn-dark")}}
                </div>
        </form>
    </div>

{% endblock %}