<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Starter - {% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-md fixedtop shadow shadow-sm">
        <div class="container">
            <a href="{{ url_for('core.index' ) }}" class="navbar-brand">Starter</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                  {% if current_user.is_authenticated %}
                  <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle active text-capitalize" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ current_user.username }}</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a href="{{url_for('auth.account')}}" class="dropdown-item">Account</a></li>
                      <li><a href="{{url_for('auth.logout')}}" class="dropdown-item">Log out</a></li>
                    </ul>
                  </li>
                  {% else %}
                  <li class="nav-item"><a href="{{url_for('auth.login')}}" class="nav-link active text-capitalize"> log in</a></li>
                  <li class="nav-item"><a href="{{url_for('auth.signup')}}" class="nav-link active text-capitalize"> Sign up</a></li>
                  {% endif %}
                </ul>
              </div>
        </div>
    </nav>
    {% block content %} {% endblock %}
    {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="container mt-3">
      {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}
</body>

<script src="{{url_for('static',filename='js/darkmodetoggle.js')}}"></script>
<script src="{{ url_for('static', filename='js/jquery3.7.1.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</html>